main {
  min-height: 80vh;
}

.badge {
  font-size: 0.9rem;
}

.product-badge {
  position: absolute;
  top: 7px;
  left: 7px;
  padding: 7px;
}

.badge-pill {
  position: absolute;
  left: 25%;
  top: -2px;
}

.checkout-summary-item {
  position: relative;
}

.rating i {
  color: var(--warning);
}

.large-box {
  height: 60vh;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
}

.carousel {
  max-height: 75vh;
  overflow: hidden;
  margin-bottom: 2rem;
}

.carousel-caption {
  position: absolute;
  bottom: 60% !important;
  color: #fff !important;
}

.carousel-caption h3 {
  color: #fff !important;
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
  .hide-small {
    display: none;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .carousel-caption {
    position: absolute;
    bottom: 40% !important;
    color: #fff !important;
  }
  .breadcrumb li {
    font-size: 0.8rem;
  }
}

@media (max-width: 750px) {
  .checkout-summary {
    margin: 0 auto !important;
  }
  .badge-pill {
    left: 20%;
  }
}

@media (max-width: 500px) {
  .carousel-caption {
    position: absolute;
    bottom: 20% !important;
    color: #fff !important;
  }
  .badge-pill {
    left: 90px;
  }
}
