main {
  min-height: 80vh;
}

.badge {
  font-size: 0.9rem;
}

.product-badge {
  position: absolute;
  top: 7px;
  left: 7px;
  padding: 7px;
}

.badge-pill {
  position: absolute;
  left: 100px;
  top: -2px;
}

.checkout-summary-item {
  position: relative;
}

.rating i {
  color: var(--warning);
}

.large-box {
  height: 60vh;
}

@media (max-width: 800px) {
  .hide-small {
    display: none;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
}
